{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}You have no permissions with this account to access this page{% endtrans %}
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/login/style_login.css') }}">
    <body class="bg-white">
<center>
    <!-- Bootstrap5 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <form method="post" class="form-login alert-light-danger mb-5 mt-5">

        <img src="{{ asset('assets/images/logo_snvlt.png') }}" height="120" alt="SNVLT">
        <h1 class="text-danger mb-5">{% trans %}ACCESS DENIED{% endtrans %} !</h1>
        <span class=" "><h6 class="h5 font-weight-normal text-danger mb-3">{% trans %}You have no permissions with this account to access this page{% endtrans %}</h6></span>
        {% set referer = app.request.headers.get('referer') %}

        <a href="{{ referer }}" class="btn btn-lg btn-danger btn-block mb-3" type="submit">
            {% trans %}I understand{% endtrans %}
        </a>

    </form>
</center>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

{% endblock %}